.cont {
  width: 800px;
  padding: 40px;
  padding-top: 10px;
  margin: 0 auto;
  background: lightgray;
}

.searchBox {
  height: 40px;
  width: 300px;
  font-size: 2rem;
}

.submit {
  height: 40px;
  width: 100px;
  font-size: 2em;
  color: white;
  shadow: none;
  background: lightgreen;
}

.results {
  width: 100%;
  background: gray;
}

.thumbnail {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
}
