/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  width: 100%;
  max-width: 600px;
}

h1 {
  font-weight: bold;
  color: navy;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: lavender;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px grey;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

.error {
  padding: .5em;
  background-color: darkred;
  color: white;
}

#citation {
  font-style: italic;
}

#results {
  line-height: 2em;
}

.federal, .state, .wage, .total {
  font-size: 1.5em;
  color: purple;
}

.state {
  color: navy;
}

.wage {
  color: indigo;
}

.total {
  color: white;
  background-color: purple;
  padding: .2em .2em 0;
}