<!DOCTYPE html>
<html>
  <head>
    <title>Am I Keeping My New Year's Resolution?</title>
    
    <!-- here is where we import our CSS file -->
    <link rel="stylesheet" href="style.css" />
  </head>
  
  <body>
       
    <nav>
      <a href="/">...go back to the home page</a>
    </nav>
    
    <h1>Welcome to my New Year's Resolution app!</h1>
 
    <main>
      
      <p>My New Year's resolution for 2018 is to <strong>read more non-social-media content</strong>.</p>
      
      <p>I feel like there are a lot of really good books and magazines I am missing out on 
          because of how much time I spend on social media, so this year I am going to actively
          try to diversify my content consumption.</p>
      
      <p>The cool thing about New Year's resolutions is that they are a social construct, and 
          whether it's being achieved or not depends entirely on the individual. If I miss a day,
          I can make it up in other ways, so I will try to remember that so I don't stress myself 
          out over tracking :)
      </p>
      
      <p>
        <img src="https://cdn.glitch.com/e959b52b-f794-4788-bd20-4a2eca9bf8f2%2Fbooks.png?1513809017298"
              alt="illustration of a stack of books" />
      </p>
    
    </main>
    
    <footer>
      <p>
        This site was built on <a href="http://glitch.com">Glitch.com</a> &bull; <a href="https://glitch.com/edit/#!/first-app-node">View the source and remix it!</a>
      </p>
    </footer>
  </body>
</html>
